## Build generated
build/
DerivedData/

## User settings
# Contains window positions, open files, and local breakpoints
xcuserdata/

## Various settings
*.pbxuser
!default.pbxuser
*.mode1v3
!default.mode1v3
*.mode2v3
!default.mode2v3
*.perspectivev3
!default.perspectivev3
*.xccheckout
*.moved-aside

## App packaging
*.ipa
*.dSYM.zip
*.dSYM

## Playgrounds
timeline.xctimeline
playground.xcworkspace

## Swift Package Manager
# Ignore the local cache/build folder but keep the resolved version file
.build/
Package.resolved

## macOS specific
.DS_Store

